body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

h2 {
    color: blue;
}

p {
    font-size: 18px;
}

.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}
